<div class="header py-1">
  <div class="row header_row">
  <div class="col-lg-12 text-center" id="middle_header_section">
      <h1 class="head_title">Header</h1> 
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span></a>
        <div class="logout">
        <a class="drop-icon-item text-center" (click)="logOut()" [ngClass]="hide">
            <i class="fa fa-signout text-dark"></i>
          Logout
          </a>
        </div>
  </div>
    </div>
</div>